@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&family=EB+Garamond:wght@400;500&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --black: #151613; 
}

*{
  padding: 0;
  margin: 0;
}

body {
  color: var(--black);
  background: repeat-y top center url(./assets/jpqyiulxi8a61.jpg), #000;
  background-size: 100% auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}

main {
  width: 85vw;
  width: 85dvw;
  min-height: 95vh;
  min-height: 95dvh;
  margin: 1em 1em 0;
  padding: 4em 4em 1em;
  background-color: rgba(118, 100, 74, 0.75);
}
main.blured {
  filter: blur(5px);
}

h1,h2,h3,h4,h5 {
  font-family: 'Alegreya Sans', sans-serif;
}
/* font-size: 5.653rem; */
h1 {
  font-size: 3.998rem;
}
h2{
  font-size: 2.827rem;
}
h3 {
  font-size: 1.999rem;
}
h4 {
  font-size: 1.414rem;
}
p, details, summary, label {
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
}
summary {
  cursor: pointer;
}

.square-button {
  font-size: 1.4141em;
  height: 1.4141em;
  width: 1.4141em;
  padding: 0;
}
button {
  color: white;
  background: rgb(82, 82, 82);
  display: grid;
  place-items: center;
  font-weight: 600;
  padding: 0.25em 0.5em;
  border: 0.12em rgb(58, 58, 58) inset;  
  border-radius: 0.25em;
  outline: 0.12em rgb(146, 132, 132) solid;  
  box-shadow: 0 0 0.12em 0.1em rgb(167, 53, 225);
  cursor: pointer;
  transition: box-shadow 150ms;
}
button[disabled]{
  color: rgb(58, 58, 58);
  box-shadow: 0 0 0 0 rgb(167, 53, 225);
}
button:hover {
  box-shadow: 0 0 0.12em 0.2em rgb(167, 53, 225);
}
button[disabled]:hover{
  box-shadow: 0 0 0 0 rgb(167, 53, 225);
}

a {
  color: currentColor;
}
a:hover{
  color: rgba(171,13,2,1);
}

.checkbox {
  width: 1.5em;
  height: 1.5em;
  border: 1.5px solid var(--black);
  border-radius: 0.12em;
  outline: 3px inset #FFC701;
/*   box-shadow: 0 0 0 4px var(--black); */
  position: relative;
  background-color: #A08A68;
  background: transparent;
  z-index: 10;
  opacity: 1;
}
input[type='checkbox']{
  width: 2em;
  height: 2em;
  opacity: 0;
  position: relative;
  z-index: 1000;
  transform: scale(1.4);
  cursor: pointer;

}
.checkbox:after{
  content: '';
  background: #FFC701;
  box-shadow: -0.5px 1px 1px 1px var(--black);
  position: absolute;
  border-radius: 100%;
  z-index: 1000;
  height: 0em;
  width: 0em;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: all 100ms ease-in-out;
  z-index: 10;
}
.checkbox:has(input[type='checkbox']:checked):after{
  height: 0.75em;
  width: 0.75em;
  opacity: 1;
}

.clear-button {
  text-decoration: underline;
  cursor: pointer;
}

.title-header{
  text-align: center;
  margin-bottom: 4em;
}
.title-tracking {
  letter-spacing: 20px;
}
.title-font{
  font-family: 'EB Garamond', serif;
}

/***** CONFIG DIALOG *****/
.header-with-configs{
  display: flex;
  justify-content: space-between;
  padding: 0 2em 2em;
}
.header-with-configs div{
  display: flex;
  gap: 1em;
}
.config {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 30em;
  max-width: 90vw;
  max-width: 90dvw;
  padding: 2em 4em;
  z-index: 1000;
  background: #9d8765;
  -webkit-box-shadow: inset 0px 0px 96px -30px rgba(63,51,33,1);
  -moz-box-shadow: inset 0px 0px 96px -25px rgba(63,51,33,1);
  box-shadow: inset 0px 0px 96px -25px rgba(63,51,33,1);  
}
.config-wrapper{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.config-card, .config-buttons {
  display: inline-flex;
  gap: 1em;
  margin-top: 1em;
}
.config-text, .config-buttons{
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/***** PROGRESS CARDS *****/
.progress-wrapper {
  margin: 3em 2em 2em;
  padding: 0 0 2em;
  display: grid;
  grid-template-rows: 10em;
  grid-template-columns: repeat(3, 28em);
  column-gap: 6em;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
.progress-card{
  height: 4em;
  padding: 1.75em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 0.20em outset black;
  border-radius: 1em;
  background-color: rgba(117, 99, 74, 0.75);
}
.progress-container::-webkit-scrollbar {
  width: 1em;
  height: 0.5em;
}
.progress-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.progress-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.progress-bar {
  display: flex;
  flex-direction: row-reverse;
  height: 0.75em;
  width: 100%;
  border-radius: 1em;
  background: rgb(171,13,2);
  background: linear-gradient(90deg, rgba(171,13,2,1) 0%, rgba(239,12,0,1) 24%, rgba(255,86,4,1) 50%, rgba(255,199,1,1) 75%, rgba(255,223,3,1) 100%);
  overflow: hidden;
}
.progress-bar-filled { 
  position: relative;
  height: 24em;
  width: 24em;
  background-color: #151613;
  transform-origin: center;
  transform: rotateZ(45deg);
  top: -10em;
  right: -3em;
}

/***** PERSONAL TO-DO *****/
.personal-todo-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20em);
  grid-template-rows: repeat(auto, 4em);
  column-gap: 4em;
  row-gap: 1em;
  padding: 2em 0;
}
.personal-todo-card{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 0.5em 1em ;
  border: 0.20em outset var(--black);
  border-radius: 1em;
  background-color: rgba(117, 99, 74, 0.75);
}
.personal-todo-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.personal-todo-card-add{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 0.5em 1em ;
  text-align: center;
  cursor: pointer;
  border-radius: 1em;
  background-color: rgba(117, 99, 74, 0.75);
  box-shadow: 0 0 1px 0 var(--black);
  transition: box-shadow 150ms;
}
.personal-todo-card-add:hover{
  box-shadow: 0px 0px 7px 0px rgba(255,255,255,0.25);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(255,255,255,0.25);
  -moz-box-shadow: 0px 0px 7px 0px rgba(255,255,255,0.25);
}

/***** RELATIONSHIPS *****/
.relationships-wrapper{
  display: inline-flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  margin-top: 2em;
}
.relationships-card {
  padding: 1em 2em;
  background-color: rgba(117, 99, 74, 0.75);
  border: 0.20em outset var(--black);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1em;
  height: fit-content;
}
.relationships-hearts {
  display: inline-flex;
  gap: 0.25em;
  font-size: 1.9999em;
  color: #525252;
}
.relationships-hearts * {
  stroke: var(--black);
  stroke-width: 1px;
  overflow: visible;
}
.relationships-hearts .heart-filled {
  color: #EF0C00;
}

/***** WEAPONS ASPECTS *****/
.weapons {
  margin-top: 2em;
}
.weapons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.weapon-card {
  background-color: rgba(117, 99, 74, 0.75);
  border: 0.20em outset var(--black);
  border-radius: 1em;
  padding: 1em 2em 2em;
  display: flex;
  flex-direction: column;
}
.weapon-aspect {
  display: inline-flex;
  gap: 1em;
  margin-top: 1em;
}

/***** FOOTER *****/
.footer {
  margin: 4em 0 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.footer-social {
  display: inline-flex;
  justify-content: center;
  gap: 1em;
  font-size: 1.4141em;
  position: relative;
  top: 3px;
}
.footer-references {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
@media screen and (max-width: 800px) {
  .footer-references {
    display: block;
  }
  .footer {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
    line-height: 2em;
    
  }
}